.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.divider {
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #007BFF;
    cursor: row-resize;
    opacity: 0;
    z-index: 10;
}

.divider:hover {
    opacity: 1;
}

.divider-visible {
    opacity: 1;
}
